

.chart-wrapper {
    flex: 1;
    background-color: #ffffff; /* Màu nền nhẹ */
    border-radius: 20px;       /* Bo tròn các góc */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    padding: 30px;
    height: 300px; /* Điều chỉnh chiều cao của container */
}

#charts-container {
    display: flex; /* Use flexbox to align charts side by side */
    gap: 20px; /* Add space between the charts */
}

canvas {
    width: 100% !important;  /* Đảm bảo canvas chiếm toàn bộ chiều rộng của container */
    height: 100% !important; /* Chiều cao được set bằng với container */
}

.charts {
    display: block;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    width: 100%;
}

.d-none {
    display: none;
}